<h2>home#show</h2>

<table class="adDetails">
	
		<th>
			<h2><%= @product.ad_title %>	</h2>
		</th>
	
	
	<tr>
		<td><%= @product.rent_type %></td>
		<td><%= @product.prise %></td>
	</tr>
	<tr>
		<td><%= @product.area %></td>
		<td><%= @product.owner_type %></td>
	</tr>
	<tr>
		<td><%= @product.condition %></td>
		<td><%= @product.extra %></td>
	</tr>
</table>